* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 21px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {

  main {
    font-size: 28px;
  }
}

.page {
  padding: 32px;
}

.page main {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: -10%;
}


footer {
  text-align: center;
  /* padding: 24px; */
}